<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="acquire-button">
	<style>
		:host {
			@apply(--layout-horizontal);
		}
		button {
			background:#f0cb74;
			border:none
		}
		button[size="large"] {
			border-radius: 65px;
			width:130px;
			height:130px
		}
		button[size="medium"] {
			border-radius: 40px;
			width:80px;
			height:80px
		}
		button[size="small"] {
			border-radius: 20px;
			width:40px;
			height:40px
		}


	</style>
	<template>
		<button class="km-button" size$="{{size}}"><img src="{{computedPath(icon)}]" /></button>
	</template>
</dom-module>
<script>
	Polymer({
		is: 'acquire-button',
		properties: {
			icon: {
				type: String
			},
			size: {
				type: String,
				value: "large"
			}
		},
		computedPath: function(icon) {
			return "build/images/" + icon
		}
	})
</script>
