<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="shelf-bookshelf">
	<style>
		
	</style>
	<template>
		<!--url="http://localhost/semat_sample/sampleStories.json"-->
			<iron-ajax auto url="{{computeUrl(load)}}" handle-as="json" last-response="{{ajaxResponse}}" on-response="handleResponse"></iron-ajax>
			
			<ul class="shelves">
				<array-selector id="selector" items="{{ajaxResponse}}" selected="{{selected}}" multi toggle></array-selector>
				<template is="dom-repeat" items="{{ajaxResponse}}">
					<li id="{{item.StoryGuidID}}">
						<div class="storyCover">
							<label>
								<span>{{item.Title}}</span>
								<em>{{item.Author}}</em>
							</label>
						</div>
					</li>
				</template>
			</ul>
		<!--<iron-image src="[[item.media$group.media$thumbnail.0.url]]" width="256" height="256" sizing="cover" preload fade></iron-image>-->
	</template>
</dom-module>

<script>
	Polymer({
		is: 'shelf-bookshelf',
		ready: function () {
			
		},
		properties: {
			load: {
				type:String
			}
		},
		computeUrl: function() {
			var loadType = this.get('load'),
				storedUserdata = JSON.parse(sessionStorage.getItem('loggedIn')),
				params;
			
			if (loadType === "LoadUserStoriesByUserGuid") {
				params = {
					GuidId: storedUserdata.UserGuidId
				}
			} else {
				params = {
					ClassName: storedUserdata.ClassName
				}
			}
			
			var path = app.path(loadType, params);
			
			
			console.log (path);
			return path
		},
		listeners: {
			'tap': 'regularTap'
		},
		regularTap: function (e) {
			var button = e.target,
				that = this;

			while (!button.hasAttribute('id') && button !== document.body) {
				button = button.parentElement;
			}
			console.log (button);

			var targetStoryId = button.getAttribute('id');

			window.location = "solve.html?id=" + targetStoryId;
		},
		handleResponse: function (request) {
/*
			var imgEl = document.querySelector('iron-image');
			imgEl.setAttribute('src', 'http://localhost/semat_sample/' + request.detail.response.img);
*/
		}
	});

</script>
