<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="user-info">
	<style>
		:host {
			@apply(--layout-horizontal);
		}
		h2, button, span {
			position: relative
		}
		h2 {
			margin:0;
			height:60px;
			display: -ms-flexbox;
			height:100%;

			display: -webkit-flex;
			display: flex;

			-ms-flex-align: center;
			-webkit-align-items: center;
			-webkit-box-align: center;

			align-items: center;
		}
		button {
			z-index: 2;
		}
		
		span {
			background-color:#1abc9c;
			border-bottom-right-radius: 20px;
			border-top-right-radius: 20px;
			height: 40px;
			line-height: 40px;
			color:#fff;
			font-size:16px;
			padding:0 20px 0 25px;
			font-weight: normal;
			display:inline-block;
			margin-left:-15px;
			z-index: 1;
			white-space: nowrap;
			
		}
		
		
	</style>


	<template>
		<h2>
			<button class="semat-button"><i>e</i></button>
			<span>{{username}}</span>
		</h2>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'user-info',
		properties: {
			username: {
				type: String,
				value: 'Unknown user.'
			},
			icon: {
				type: String
			}
		},
		ready: function() {
			this.set('username', (JSON.parse(sessionStorage.getItem('loggedIn'))).FullName);
		}
	})
</script>
