<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<dom-module id="kid-verifier">
	<template>
		<paper-dialog modal id="kidCheck">
			<div>
				<paper-input label="{{fullQuestion}}" value="{{providedAnswer}}"></paper-input>
			</div>
			<div class="buttons">
				<paper-button dialog-dismiss>Cancel</paper-button>
				<paper-button dialog-confirm on-tap="checkAnswer">Accept</paper-button>
			</div>
		</paper-dialog>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'kid-verifier',
		properties: {
			equation: {
				type: String
			},
			question: {
				type: String,
				value: 'What is '
			},
			fullQuestion: {
				type: String
			},
			providedAnswer: {
				type:String
			}
		},
		listeners: {
			'iron-overlay-opened': '_onOpen'
		},
		checkAnswer: function() {
			if (this.get('providedAnswer') == eval(this.get('equation'))) {
				console.log ('match');
			}
		},
		_reset: function (e) {
			var min = 10,
				max = 99,
				equation = this._getRandomInt(min, max) + this._getRandomOperator() + this._getRandomInt(min, max);
			this.set('providedAnswer', '');
			this.set('equation', equation);
			this.set ('fullQuestion', this.get('question') + equation);
		},
		_onOpen: function() {this._reset()},
		_getRandomOperator: function () {
			var num = parseInt(Math.random() * 100),
				operator = "+";
			if (num % 2 == 0) {
				operator = "-"
			}
			return ' ' + operator + ' ';
		},
		_getRandomInt: function (min, max) {
			return Math.floor(Math.random() * (max - min + 1)) + min;
		}



	})
</script>
