<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="layout-root">
	<style>
		:host {
			@apply(--layout-flex --layout-vertical);
		}
		
		[main] {
			@apply(--layout-flex);
			@apply(--layout-vertical);
		}
		
		[header], [footer] {
			@apply(--layout-horizontal --layout-center);
			background-color: #6473c8;
			height:80px;
		}
		[content] {
			
			@apply(--layout-vertical);
		}
		
		[tool] {
			@apply(--layout-inline);
		}
		
		[flex] {
			@apply(--layout-flex);
		}
		
		
		
		[card] {
			height: 300px;
			width: 300px;
			margin: 16px auto;
			background-color: #eee;
			@apply(--layout-vertical --layout-center-center);
		}
	</style>


	<template>

		<div header>
			<div flex></div>
			<user-info></user-info>
		</div>
		<content content></content>
		<div footer>abc</div>
		
	</template>
</dom-module>

<script>
	Polymer({
		is: 'layout-root',
		properties: {

		}
	})
</script>
