<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="share-button">
	<template>
		<button data-childprotection="kidCheck">
			<content></content>
		</button>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'share-button',
		properties: {
			action: {
				type: String
			}
		},
		listeners: {
			'tap': 'regularTap'
		},
		regularTap: function (e) {
			var button = e.target;
			while (!button.hasAttribute('data-childprotection') && button !== document.body) {
				button = button.parentElement;
			}

			if (!button.hasAttribute('data-childprotection')) {
				return;
			}

			var id = button.getAttribute('data-childprotection');
			var dialog = document.getElementById(id);
			console.log (this.get('action'));
			if (dialog) {
				dialog.open();
			}
		}
	})
</script>
