<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="share-button.html">
<!--<button-group>
			<button data-dialog="kidCheck"></button>
		</button-group>-->
<dom-module id="share-bar">
	<style>
		div {background:#4455aa}
	</style>
	<template>
		<div>
			<share-button action="twitter">Twitter</share-button>
			<share-button>Facebook</share-button>
			<share-button>G+</share-button>
			<share-button>Report</share-button>
		</div>
		<kid-verifier></kid-verifier>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'share-bar',
		ready: function () {
			//alert('sharebar');
			var button = document.querySelector('button-group');
			//button.on('click', clickHandler);
		},
		properties: {
			
		},
		listeners: {
			//'tap': 'regularTap'
		},

		regularTap: function (e) {
			var button = e.target;
			while (!button.hasAttribute('data-dialog') && button !== document.body) {
				button = button.parentElement;
			}

			if (!button.hasAttribute('data-dialog')) {
				return;
			}

			var id = button.getAttribute('data-dialog');
			var dialog = document.getElementById(id);
			//console.log (dialog);
			if (dialog) {
				dialog.open();
			}
		}
	});

	function clickHandler(e) {
		var button = e.target;
		while (!button.hasAttribute('data-dialog') && button !== document.body) {
			button = button.parentElement;
		}

		if (!button.hasAttribute('data-dialog')) {
			return;
		}

		var id = button.getAttribute('data-dialog');
		var dialog = document.getElementById(id);
		if (dialog) {
			dialog.open();
		}
	}
</script>
