<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<dom-module id="story-image">
	<style>
		
	</style>
	<template>
		<iron-image
					src="http://localhost/semat_sample/h.jpg"
					preload
					style="width:400px; height:400px;"
					sizing="contain">
					</iron-image>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'story-image',
		ready: function () {
			
		},
		properties: {
			
		}

	});

</script>
