<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="story-starz.html">

<dom-module id="story-story">
	<style>
		button[data-attempted='true'] {
			pointer-events: none;
			opacity: 0.6
		}
		button[data-attempted='true']:before {
			content: 'X'
		}
		#storySolver-main[data-state='complete'] #answerSheet {
			pointer-events: none
		}
		#answerSheet button {
			background-color: #fff;
			height:80px; width:80px;
			border-radius: 40px;
			line-height: 80px;
			border-width:0;
		}
		paper-fab {
			--paper-fab-background: #F0CB74;
			color:#CF4335;
			float: left;
				margin-right:10px;
		}
	</style>
	<template>
		<audio source src="../build/sounds/beep2.mp3" type="audio/mpeg" preload="auto" id="audio-error"></audio>
		<div class="row">
			<div class="large-7 small-7 columns">
				<iron-ajax auto handle-as="json" last-response="{{ajaxResponse}}" on-response="handleResponse"></iron-ajax>
				<!--url="http://localhost/semat_sample/sampleStory.json"-->
				<div placeholder>
					<iron-image src preload fade placeholder="build/images/placeholder.jpg" style="width:725px; height:455px;" sizing="contain">
					</iron-image>
				</div>
				<story-starz></story-starz>
			</div>
			<div class="large-3 small-3 columns">
				<div class="question">
					<paper-fab icon="av:play-arrow" mini data-type="button" data-action="playQuestion"></paper-fab><div class="semat-textview semat-textview-small">{{ajaxResponse.title}}</div>
					<div class="semat-textview semat-textview-large margined">{{ajaxResponse.questionText}}</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<div buttons id="answerSheet">
					<template is="dom-repeat" items="{{possibleAnswers}}">
						<button data-type="answer">{{item}}</button>
					</template>
				</div>
			</div>
		</div>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'story-story',
		ready: function () {

		},
		properties: {
			correctAnswer: {
				type: Number
			},
			possibleAnswers: {
				type: Array,
				value: [0, 0, 0, 0]
			},
			answerAttempts: {
				type: Number,
				value: 3
			},
			questionAudio: {
				type: Object
			}

		},
		listeners: {
			'tap': 'regularTap'
		},
		markComplete: function () {
			document.querySelector('#storySolver-main').setAttribute('data-state', 'complete');
		},
		shuffle: function (array) {
			var currentIndex = array.length,
				temporaryValue, randomIndex;

			// While there remain elements to shuffle...
			while (0 !== currentIndex) {

				// Pick a remaining element...
				randomIndex = Math.floor(Math.random() * currentIndex);
				currentIndex -= 1;

				// And swap it with the current element.
				temporaryValue = array[currentIndex];
				array[currentIndex] = array[randomIndex];
				array[randomIndex] = temporaryValue;
			}

			return array;
		},
		markWrongAttempt: function () {
			document.querySelector('#audio-error').play();
			var previousAttempts = this.get('answerAttempts'),
				remainingAttempts = previousAttempts - 1;

			this.set('answerAttempts', remainingAttempts);
			var starEl = document.querySelector('story-starz');
			starEl.markWrongAttempt();

			if (remainingAttempts == 0) {
				this.markComplete();
			}

		},
		regularTap: function (e) {
			var button = e.target,
				that = this;

			while (!button.hasAttribute('data-type') && button !== document.body) {
				button = button.parentElement;
			}

			var type = button.getAttribute('data-type');

			switch (type) {
			case 'answer':
				if (button.innerText == that.get('correctAnswer')) {
					console.log('correct');
					that.markComplete();
				} else {
					button.setAttribute('data-attempted', true);
					that.markWrongAttempt();
				};
				break;

			case 'button':
				var fn = this[button.getAttribute('data-action')];
				fn(this);
				break;
			}
		},
		setupAudio: function (audioPath) {
			this.set('questionAudio', new Audio(audioPath));
			//audio.play();
		},
		playQuestion: function (that) {
			console.log('playing');
			var audioObj = that.get('questionAudio');
			audioObj.play();

		},
		handleResponse: function (request) {
			this.setupAudio('http://localhost/semat_sample/' + request.detail.response.audio);

			var possibleAnswers = request.detail.response.wrongAnswers;
			possibleAnswers.push(request.detail.response.correctAnswer);
			possibleAnswers = this.shuffle(possibleAnswers);
			this.set('possibleAnswers', possibleAnswers);
			this.set('correctAnswer', request.detail.response.correctAnswer);

			var imgEl = document.querySelector('iron-image');
			imgEl.setAttribute('src', 'http://localhost/semat_sample/' + request.detail.response.img);
		}
	});

	function audioPlayer() {}
</script>
