<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<dom-module id="story-create-progress">
	<style>
		:host {
			@apply(--layout-horizontal);
		}
		button {position: relative; overflow: hidden}
		
	</style>


	<template>
		<button data-role="button" class="semat-button" href='#setTitle.html' step='1' allowNavigation='true'>1<paper-ripple></paper-ripple></button>
		<button data-role="button" class="semat-button" href='#acquireImage.html' step='2' allowNavigation='false'>2<paper-ripple></paper-ripple></button>
		<button data-role="button" class="semat-button" href='#investigateImage.html' step='3' allowNavigation='false'>3<paper-ripple></paper-ripple></button>
		<button data-role="button" class="semat-button" href='#askQuestion.html' step='4' allowNavigation='false'>4<paper-ripple></paper-ripple></button>
		<button data-role="button" class="semat-button" href='#provideSolution.html' step='5' allowNavigation='false'>5<paper-ripple></paper-ripple></button>
		<button data-role="button" class="semat-button" href='#setTitle.html' step='6' allowNavigation='false'>6<paper-ripple></paper-ripple></button>
			<!--<template is="dom-repeat" items="{{progressData}}">
				<button class="semat-button">{{item.text}}<paper-ripple></paper-ripple></button>
			</template>-->
		
	</template>
</dom-module>

<script>
	Polymer({
		is: 'story-create-progress',
		properties: {
			progressData: {
				type: Array,
				value: [
					{target: '#setTitle.html', text: '1', allowNavigation: true},
					{target: '#acquireImage.html', text: '2', allowNavigation: false},
					{target: '#investigateImage.html', text: '3', allowNavigation: false},
					{target: '#askQuestion.html', text: '4', allowNavigation: false},
					{target: '#provideSolution.html', text: '5', allowNavigation: false},
					{target: '#setTitle.html', text: '6', allowNavigation: false}
				]
			}
		}
	})
</script>
