<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<dom-module id="story-starz">
	<style>
		iron-icon {color:yellow}
		[attempts="1"] iron-icon:nth-child(1),
		[attempts="2"] iron-icon:nth-child(1),
		[attempts="2"] iron-icon:nth-child(2),
		[attempts="3"] iron-icon:nth-child(1),
		[attempts="3"] iron-icon:nth-child(2),
		[attempts="3"] iron-icon:nth-child(3)
		{
			color: gray
		}
	</style>
	<template>
		<div attempts$="{{attempts}}">
			<iron-icon icon="star"></iron-icon>
			<iron-icon icon="star"></iron-icon>
			<iron-icon icon="star"></iron-icon>
		</div>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'story-starz',
		ready: function () {
			var that = this;
			/*setTimeout ( function() {
					that.wrongAttempt();
				}
			, 2000);*/
		},
		properties: {
			attempts: {
				type: Number,
				value:0,
				reflectToAttribute: true
			}
		},
		markWrongAttempt: function() {
			var attempts = this.get('attempts');
			attempts++;
			this.set('attempts', attempts);
		},
		listeners: {

		}
	});
</script>
